/*
Name: Omer Siddiqui
Student number: 991587781 */

body {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 10vw 30vw 10vw;
    grid-gap: 1em;
}
  
.section1, .section4 {
grid-column: 1 / span 2;
}


body {
margin: 0 auto;
max-width: 56em;
padding: 1em 0;
}

.section1, .section2, .section4{
    background: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    border-width: 5px;
}

.section3{
    background: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    border-width: 5px;
    box-shadow: -10px -10px 20px;
}

input[type="radio"] {
    border:1px solid pink;
}

input[type="checkbox"] {
    border:1px solid greenyellow;
  }

.special{
    font-size: 1.5em;
    font-weight: bold;
}

.wrapper {
    text-align: center;
}