body{
	width: 80%;
	box-shadow: 0 0 10px grey;
	font-family: sans-serif;
	font-size: 20px;
	margin: 0 auto;
	padding: 20px;
}

#design2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

#design2 img{
	max-width: 100%;
}